body{
    margin: 0;
    min-height:100vh;
    font-family: 'Roboto';
}
 
/* hero section */

.header{
    display: flex;
    justify-content:space-around;
    padding-top:20px;
    padding-bottom:40px;
    
}

 ul {
    margin:0;
    padding:0;
    list-style-type:none;
    display: flex;
    gap:15px;
}
.logo{
    
    color:#F9FAF8;
    font-size:24px;
    margin-right:500px;

}


 a,.second-text {
    font-size:18px;
    text-decoration:none;
    color:#e5e7eb;
}

.hero{
    background-color:#1F2737;
    display:flex;
    flex-direction:column;
    
}
.image1 img{
  
    width:500px;
    height:auto;
}

.hero-body {
  display:flex;
  padding: 50px 0;
  justify-content:space-around;
  
}

.body-text{
    max-width:350px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    margin:0;
    padding:0;

}

.main-text{
    font-size: 48px;
    color: #f9faf8;
    
}

.button{
    background-color:#3882f6;
    border-radius:8px;
    padding: 10px 20px;
    border:none;
    color:#f9faf8;
    font-size:18px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {

    background:#0b7dda;
}
  
/* second section */

.second-section {

    padding: 50px 0;
}



.second-section h1 {
 
    text-align:center;
    font-size:36px;
    color:#1F2737;
    
}

.second-body {

    padding-top:30px;
    display:flex;
    justify-content:space-evenly;
    padding-bottom:60px;
}

.one {

    max-width: 206px;
}

.one img {

    width:200px;
    height:133px;
    border-radius: 10px;
    border: 5px solid #3882f6;
}

.one .text {

    text-align: center;
}

/* Third section  */

.Third-section {

   height: 450px;
   background-color:#E5E7EB;
   display: flex;
   flex-direction:column;
   align-items:center;
   justify-content: center;
}

.quotes,.author {
 
   font-style:italic;
   font-size: 36px;
   color:#2F2937;
   font-weight:100;
}

.author {
    font-weight:400;
    font-style:normal;
    align-self:flex-end;
    margin-right: 75px;
}